div.botoes-teste{
	text-align: left; 
	max-width: 550px;
	padding: 0;
	margin-left: 0;
}
div.botoes-teste2{
	max-width: 300px;
	text-align: left; 
	margin-left: 0;
}
div.anuncios{
	margin:0;
	padding:0;
}
div.anuncios div.btn-link,
div.anuncios div.btn-link-mobile{
	display: inline-block; 
	min-height: 35px; 
	min-width: 35px; 
	text-align: center; 
	border-radius: 50px; 
	color: #FFFFFF; 
	cursor: pointer; 
    padding: 2px;
    font-weight: bold;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    margin-top: 3px;
    margin-bottom: 3px;
}
div.anuncios div.btn-link div.icon-button,
div.anuncios div.btn-link-mobile div.icon-button{
	display: inline-block;
}
div.anuncios div.btn-link.ativo,
div.anuncios div.btn-link-mobile.ativo{
	min-width: auto; 
	cursor: text; 
}
div.anuncios div.btn-link.btn-link:hover,
div.anuncios div.btn-link-mobile.btn-link:hover{
	text-decoration: none;
}
div.anuncios div.btn-link:hover,
div.anuncios div.btn-link-mobile:hover{
	color: #FFF; 
}
div.anuncios div.btn-link a:hover,
div.anuncios div.btn-link-mobile a:hover{
	text-decoration:none;
}
div.anuncios div.btn-link i,
div.anuncios div.btn-link-mobile i,
div.anuncios div.descript{
	font-size: 16px;
}
div.anuncios div.btn-link i{
	display: inline-block;
	padding: 5px;
}
div.anuncios-pagos div.btn-link a,
div.anuncios-pagos div.btn-link-mobile a{
	cursor: pointer;
    display: inline-block;
    padding: 2px 5px;
    color: green;
    background: #fff;
    font-weight: bold;
    border-radius: 30px;
    line-height: 100%;
    margin-left: 2px;
}
div.anuncios-pagos div.btn-link.endereco a{
    margin: 5px 2px 2px 2px;
}
div.anuncios-pagos div.btn-link.email a{
	margin-top: 5px;	
}
div.anuncios-pagos div.btn-link a i,
div.anuncios-pagos div.btn-link-mobile a i{
	color: #FFFFFF; 
}
div.anuncios div.descript{
	float: right;
    display: none;
    font-size: 16px;
    margin-left: 0;
    margin-right: 3px;
    margin-top: 0;
    max-width: 180px;
    text-align: left;
}
div.anuncios div.descript:after{
	float: none;
}

/* MOBILE */

div.anuncios-pagos div.btn-link.phone,
div.anuncios-pagos div.btn-link-mobile.phone,
div.anuncios-pagos div.btn-link-mobile-footer div.descript-mobile.phone{
	background:#009688; 
	border:2px solid #009688; 
}
div.anuncios div.btn-link.endereco div.descript,
div.anuncios div.btn-link-mobile.endereco div.descript-mobile{
	line-height: 115%;
	font-size: 12px;
}
div.anuncios div.btn-link.email div.descript,
div.anuncios div.btn-link-mobile.email div.descript-mobile{
	line-height: 115%;
	font-size: 12px;
	margin-top: 5px;
	text-align: center;
}
div.anuncios div.btn-link div.descript a small.ir,
div.anuncios div.btn-link-mobile-footer div.descript-mobile a small.ir{
	font-weight: bold;
    display: inline-block;
    border-radius: 50px;
    font-size: 12px;
    background: #fff;
    color: green;
}
div.anuncios div.btn-link div.descript a small.ir{
	padding: 2px 5px;
}
div.anuncios div.btn-link-mobile-footer div.descript-mobile a small.ir{
    padding: 2px 10px;
    margin-left: 5px;
}
div.anuncios-mobile div.btn-link,
div.anuncios-mobile div.btn-link-mobile{
	margin-bottom: 5px;
}
div.anuncios-mobile div.descript{
    max-width: 150px;
}
div.anuncios-mobile div.descript-mobile{
    max-width: 180px;
}
div.anuncios div.btn-link-mobile-footer div.descript-mobile{
	font-weight: bold;
	color: #FFFFFF;
	display: none; 
	float: none;
	text-align: center;
	margin: auto;
	max-width: 100%;
    border-radius: 30px;
    padding: 5px 10px;
}

div.anuncios-pagos div.btn-link.email,
div.anuncios-pagos div.btn-link-mobile.email,
div.anuncios-pagos div.btn-link-mobile-footer div.descript-mobile.email{
	background: #4CAF50;
	border:2px solid #4CAF50;
}
div.anuncios-pagos div.btn-link.endereco,
div.anuncios-pagos div.btn-link-mobile.endereco,
div.anuncios-pagos div.btn-link-mobile-footer div.descript-mobile.endereco{
	background: #8BC34A; 
	border:2px solid #8BC34A;
}
div.anuncios-pagos div.btn-link.facebook,
div.anuncios-pagos div.btn-link-mobile.facebook,
div.anuncios-pagos div.btn-link-mobile-footer div.descript-mobile.facebook{
	background: #CDDC39; 
	border:2px solid #CDDC39;
}
div.anuncios-pagos div.btn-link.instagram,
div.anuncios-pagos div.btn-link-mobile.instagram,
div.anuncios-pagos div.btn-link-mobile-footer div.descript-mobile.instagram{
	background: #FFEB3B; 
	border:2px solid #FFEB3B;
}
div.anuncios-pagos div.btn-link.site,
div.anuncios-pagos div.btn-link-mobile.site,
div.anuncios-pagos div.btn-link-mobile-footer div.descript-mobile.site{
	background: #FF9800; 
	border:2px solid #FF9800;
}
div.anuncios-pagos div.btn-link.whatsapp,
div.anuncios-pagos div.btn-link-mobile.whatsapp,
div.anuncios-pagos div.btn-link-mobile-footer div.descript-mobile.whatsapp{
	background: #109154; 
	border:2px solid #109154;
}

div.anuncios-gratis div.btn-link.instagram, 
div.anuncios-gratis div.btn-link.whatsapp, 
div.anuncios-gratis div.btn-link-mobile.instagram, 
div.anuncios-gratis div.btn-link-mobile.whatsapp,
div.anuncios-pagos div.btn-link.facebook i,
div.anuncios-pagos div.btn-link.instagram i, 
div.anuncios-gratis div.btn-link.facebook i,
div.anuncios-gratis div.btn-link.instagram i,
div.anuncios-gratis div.btn-link.whatsapp i, 
div.anuncios-pagos div.btn-link-mobile.facebook i, 
div.anuncios-pagos div.btn-link-mobile.instagram i, 
div.anuncios-gratis div.btn-link-mobile.facebook i,
div.anuncios-gratis div.btn-link-mobile.instagram i, 
div.anuncios-gratis div.btn-link-mobile.instagram i, 
div.anuncios-gratis div.btn-link-mobile.whatsapp i, 
div.anuncios-pagos div.btn-link.facebook div.descript,
div.anuncios-pagos div.btn-link.instagram div.descript,
div.anuncios-gratis div.btn-link.facebook div.descript,
div.anuncios-gratis div.btn-link.instagram div.descript,
div.anuncios-gratis div.btn-link.whatsapp div.descript,
div.anuncios-pagos div.btn-link-mobile.facebook div.descript-mobile,
div.anuncios-pagos div.btn-link-mobile.instagram div.descript-mobile,
div.anuncios-gratis div.btn-link-mobile.facebook div.descript-mobile,
div.anuncios-gratis div.btn-link-mobile.instagram div.descript-mobile,
div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.instagram,
div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.whatsapp{
	color: #109154; 
}
div.anuncios-gratis div.btn-link.phone,
div.anuncios-gratis div.btn-link-mobile.phone,
div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.phone{
	border:2px solid #009688; 
}
div.anuncios-gratis div.btn-link.email,
div.anuncios-gratis div.btn-link-mobile.email,
div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.email{
	border:2px solid #4CAF50; 
}
div.anuncios-gratis div.btn-link.endereco,
div.anuncios-gratis div.btn-link-mobile.endereco,
div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.endereco{
	border:2px solid #8BC34A; 
}
div.anuncios-gratis div.btn-link.facebook,
div.anuncios-gratis div.btn-link-mobile.facebook,
div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.facebook{
	border:2px solid #CDDC39; 
}
div.anuncios-gratis div.btn-link.instagram,
div.anuncios-gratis div.btn-link-mobile.instagram,
div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.instagram{
	border:2px solid #FFEB3B; 
}
div.anuncios-gratis div.btn-link.site,
div.anuncios-gratis div.btn-link-mobile.site,
div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.site{
	border:2px solid #FF9800; 
}
div.anuncios-gratis div.btn-link.whatsapp,
div.anuncios-gratis div.btn-link-mobile.whatsapp,
div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.whatsapp{
	border:2px solid #109154; 
}
div.anuncios-gratis div.btn-link.phone, 
div.anuncios-gratis div.btn-link.phone i, 
div.anuncios-gratis div.btn-link.phone div.descript,
div.anuncios-gratis div.btn-link-mobile.phone, 
div.anuncios-gratis div.btn-link-mobile.phone i, 
div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.phone{
	color:#009688; 
}
div.anuncios-gratis div.btn-link.email, 
div.anuncios-gratis div.btn-link.email i, 
div.anuncios-gratis div.btn-link.email div.descript,
div.anuncios-gratis div.btn-link-mobile.email, 
div.anuncios-gratis div.btn-link-mobile.email i, 
div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.email{
	color: #4CAF50; 
}
div.anuncios-gratis div.btn-link.endereco, 
div.anuncios-gratis div.btn-link.endereco i, 
div.anuncios-gratis div.btn-link.endereco div.descript,
div.anuncios-gratis div.btn-link-mobile.endereco, 
div.anuncios-gratis div.btn-link-mobile.endereco i, 
div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.endereco{
	color: #8BC34A;
}
div.anuncios-gratis div.btn-link.facebook, 
div.anuncios-gratis div.btn-link.facebook i, 
div.anuncios-gratis div.btn-link.facebook div.descript,
div.anuncios-gratis div.btn-link-mobile.facebook, 
div.anuncios-gratis div.btn-link-mobile.facebook i, 
div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.facebook{
	color: #CDDC39; 
}
div.anuncios-gratis div.btn-link.site, 
div.anuncios-gratis div.btn-link.site div.descript i, 
div.anuncios-gratis div.btn-link.site div.descript,
div.anuncios-gratis div.btn-link-mobile.site, 
div.anuncios-gratis div.btn-link-mobile.site div.descript-mobile i, 
div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.site{
	color: #FF9800; 
}

div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.phone,
div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.whatsapp{
	font-size: 18px;
}
div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.email,
div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.endereco,
div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.facebook,
div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.instagram,
div.anuncios-gratis div.btn-link-mobile-footer div.descript-mobile.site{
	font-size: 14px;
}
@media screen and (max-width: 768px){
	.hidden-xs{
		display: none;
	}
}
@media screen and (min-width: 769px){
	.hidden-sm{
		display: none;
	}
}
